.header {
    padding: 8px 0;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav {
    display: flex;
    align-items: center;
    gap: 56px;
}

.header__nav-links {
    display: flex;
    align-items: center;
    gap: 44px;
}

.header__nav-links a {
    font-size: 14px;
    font-weight: 400;
    color: black;
}

.header__nav-button {
    padding: 12px 30px;
    background-color: #65256F;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.main_banner {
    background-color: #f5f5f5
    padding: 20px;  
}

.main-banner h1 {
    font-size: 48px;
    font-weight: 400;
    text-align: center;
}

.grid-container {
    display: grid;
    height: 100vh
    grid-template-columns: repeat(3 1fr);
    grid-template-rows: repeat(3 1fr);
    gap: 20px;
}


.grid-item {
    display: grid; 
    justify-content: center; 
    align-items: center;
    height: 150px; 
    font-size: 18px; 
    color: white;
  }


.item-1 {
    background-image: url(./images/photo_installation.png);
}

.item-2 {
    background-image: url(./images/samokleika.png);
}

.item-3 {
    background-image: url(./images/buklety.png);
}

.item-4 {
    background-image: url(./images/banner.png);
}